/* BASIC STYLES */
body {
    @include backgroundImage($background-img, $white, repeat-x);
    font-family: $font-body;
    font-size:1em;
    line-height:2em;
    @include marginPadding(0, false);
}
main {
    @include dimensions(auto, 940px);
    @include marginPadding(0 auto, false);
}