/* FOOTER */
.greybar {
    background-color: $color-greybar-footer;
    @include dimensions(90px, 100%);
    @include clearfix;
    padding-top: 30px;
    
    /*media mixin for article image*/
    @include break(459px){
        display:none;
    } 

}
footer {    
    background:$color-background-footer;
    @include dimensions(120px, 100%);
    text-align:center;
    color: $white;
    padding-top:50px;

    /*media mixin for footer*/
    @include break(459px){
        text-align:center;
    } 
    
    p{
        /*media mixin for footer p*/
        @include break(459px){
            @include setFloat(none);
            margin:0;
        } 
    }
    img {        
        /*media mixin for footer img*/
        @include break(459px){
            @include setFloat(none);
            margin:0;
        } 
    }
}

.social-media {
        @include dimensions(auto, 165px);
        @include marginPadding(0 auto, false);

        %div {
            @include setFloat(left);
            margin-right:5px;
        }
        a {
            display:block;
            @include dimensions(36px, 36px);
            text-indent:-9999px;
        }
        .one {@extend %div; background:$social-media-img 0 0;}
        .two {@extend %div; background:$social-media-img (0 - 38px) 0;}
        .three {@extend %div; background:$social-media-img (0 - (38px * 2)) 0;}
        .four {@extend %div; background:$social-media-img (0 - (38px * 3)) 0;}
    }
