//Body
$background-img: url('../images/bg.gif');
$font-body: 'Roboto', sans-serif;

$white: #FFF;
$red: #E65C43;
$grey: #666;

//navigation
$background-logo-img: url('../images/logo.png');
$background-header-img: url('../images/devices.png');

//Background
$color-background: #F25C43;

//Content
$background-article-1-img: url('../images/vprospect.png');
$background-article-2-img: url('../images/vconvert.png');

//Footer
$color-greybar-footer: #F5F6F6;
$color-background-footer: #30353D;
$social-media-img: url('../images/social-media.png');
 